<div layout="column" layout-padding ng-cloak konami-code="$ctrl.godMode()" konami-keys="[83, 83, 85, 80, 69, 82, 82]" konami-once="true">

    <!-- module selector -->
    <config-select
        cl-title="Choose application you are developing on"
        cl-subtitle="Selected app debug mode will be turned on automatically."
        cl-disabled="$ctrl.loading"
        cl-options="$ctrl.modules" cl-model="$ctrl.selectedModule"
        cl-btn-tooltip="Select application" cl-btn-icon="account-hard-hat"
        cl-empty="No application"
        cl-click="$ctrl.selectModule()"
    ></config-select>

    <!-- navigation -->
    <md-nav-bar md-selected-nav-item="$ctrl.selectedMainNav">
        <md-nav-item name="devtools" md-nav-sref="devtools">
            Development helpers
        </md-nav-item>
        <md-nav-item name="testtools" md-nav-sref="testtools">
            Tests
        </md-nav-item>
        <md-nav-item name="doctools" md-nav-sref="doc">
            Documentation
        </md-nav-item>
        <md-nav-item name="breakingchanges" md-nav-sref="breakingchanges">
            Breaking changes
        </md-nav-item>
        <md-nav-item name="buildtools" md-nav-sref="buildtools">
            Build app
        </md-nav-item>
    </md-nav-bar>

    <!-- dev tools -->
    <div layout-padding ng-show="$ctrl.selectedMainNav==='devtools'">
        <config-text
            cl-title="Create new application skeleton" cl-subtitle="After click, don't forget to sync device source with local sources (download action in vscode plugin)"
            cl-model="$ctrl.newApplicationName"
            cl-btn-icon="plus" cl-disabled="$ctrl.loading" cl-btn-tooltip="Create application"
            cl-click="$ctrl.createApplication(value)"
        ></config-text>
        <config-buttons
            cl-title="Cleep logs"
            cl-disabled="$ctrl.loading"
            cl-buttons="$ctrl.logButtons"
        ></config-buttons>
        <config-comment
            cl-title="Application icon" cl-subtitle="Choose an icon for your app from materialdesignicons.com"
            cl-mode="html" cl-comment="$ctrl.mdiUrl"
        ></config-comment>
        <config-comment
            cl-title="Application version" cl-subtitle="Your application version must follow semver guidelines"
            cl-mode="html" cl-comment="$ctrl.semverUrl"
        ></config-comment>
        <config-comment
            cl-title="Application changelog" cl-subtitle="Your application changelog must follow keepachangelog guidelines"
            cl-mode="html" cl-comment="$ctrl.changelogUrl"
        ></config-comment>
        <config-comment
            cl-title="Unit tests" cl-subtitle="Your application needs unit tests to guarantee a certain level of quality. Cleep uses pylint to execute unit tests"
            cl-mode="html" cl-comment="$ctrl.testUrl"
        ></config-comment>
        <config-comment
            cl-title="Frontend description file" cl-subtitle="desc.json file allows to normalize way your app UI is loaded"
            cl-mode="html" cl-comment="$ctrl.descUrl"
        ></config-comment>
    </div>

    <!-- test tools -->
    <div layout-padding ng-show="$ctrl.selectedMainNav==='testtools'">
        <config-note
            cl-note="Unit tests are required to publish an application. This is the minimum that must be done to guarantee a certain level of quality of an application.<br>At least 60% of your source code must be covered to be able to publish an application.<br>You can find documentation on how to make your tests in developer wiki."
            cl-type="info" cl-icon="information"
        ></config-note>
        <config-button
            cl-title="Click to execute available tests on your 'tests' application directory"
            cl-click="$ctrl.launchTests()" cl-disabled="$ctrl.loading"
            cl-btn-icon="play" cl-btn-label="Launch tests"
        ></config-button>
        <config-button
            cl-title="Click to display last coverage report (if available)"
            cl-click="$ctrl.getLastCoverageReport()" cl-disabled="$ctrl.loading"
            cl-btn-icon="gauge" cl-btn-label="Show coverage"
        ></config-button>
        <config-text-viewer
            cl-title="Tests output" cl-text="{{ $ctrl.testsOutput }}"
        ></config-text-viewer>
    </div>

    <!-- doc tools -->
    <div layout-padding ng-show="$ctrl.selectedMainNav==='doctools'">
        <config-note
            cl-note="Developer application gives you an easy way to build and share your application documentation.<br>Documentation is really important part of Cleep. It allows others developers to use your application requesting its API and it allows Cleep core to properly reference all your exposed function to online editors. So make sure your documentation google docstring guidelines (link below)"
            cl-type="info" cl-icon="information"
        ></config-note>
        <config-comment
            cl-title="Google docstring example" cl-comment="$ctrl.docstringUrl" cl-mode="html"
        ></config-comment>
        <config-button
            cl-title="Check your application documentation" cl-subtitle="This action will check your doc is well written returning errors and warnings"
            cl-click="$ctrl.generateDocumentation()" cl-disabled="$ctrl.loading"
            cl-btn-icon="check" cl-btn-label="Check doc"
        ></config-button>
        <config-button
            cl-title="Build your app API documentation" cl-subtitle="A text preview will be displayed in output below."
            cl-click="$ctrl.generateApiDocumentation()" cl-disabled="$ctrl.loading"
            cl-btn-icon="wrench" cl-btn-label="Generate API doc"
        ></config-button>
        <config-button
            cl-title="Download app API documentation" cl-subtitle="Download zip archive containing html doc. Run index.html on your browser to check content."
            cl-click="$ctrl.downloadApiDocumentation()" cl-disabled="$ctrl.loading"
            cl-btn-icon="download" cl-btn-label="Download"
        ></config-button>
        <config-text-viewer
            cl-title="Documentation output" cl-text="{{ $ctrl.docsOutput }}" cl-empty="No output" cl-is-html="$ctrl.isDocsHtml"
        ></config-text-viewer>
    </div>

    <!-- breaking changes -->
    <div layout-padding ng-show="$ctrl.selectedMainNav==='breakingchanges'">
        <config-note
            cl-note="This tab allows you to check breaking changes detected from previous version. All detected breaking changes must be fixed before you are able to build and to publish your application.<br>This detection should guarantee that your application is still usable release after release. So keep in mind this feature is really important and build your code intelligently ;-)"
            cl-type="info" cl-icon="information"
        ></config-note>
        <config-button
            cl-title="Check breaking changes" cl-subtitle="Detected breaking changes will be displayed in output below."
            cl-click="$ctrl.detectBreakingChanges()" cl-disabled="$ctrl.loading"
            cl-btn-icon="wrench" cl-btn-label="Launch detection"
        ></config-button>
        <config-text-viewer
            cl-title="Breaking changes output" cl-text="{{ $ctrl.breakingChanges }}" cl-empty="No output" cl-is-html="true"
        ></config-text-viewer>
    </div>

    <!-- build tools -->
    <div padding-layout ng-show="$ctrl.selectedMainNav==='buildtools'">
        <config-note
            ng-if="!$ctrl.config.moduleInDev"
            cl-note="Please select an application to enable build" cl-type="warning" cl-icon="check"
        ></config-note>
        <config-button
            cl-title="Analyze application to check its content and prepare package build"
            cl-btn-label="Analyze app" cl-btn-icon="cogs" cl-disabled="$ctrl.loading"
            cl-click="$ctrl.analyzeApplication()"
        ></config-button>
    
        <config-note
            ng-if="$ctrl.analyzeError"
            cl-type="error" cl-icon="alert-circle"
            cl-note="<b>Error occured during application analysis, please check analyze logs:</b><br>{{ $ctrl.analyzeError }}"
        ></config-note>

        <!-- navigation -->
        <md-nav-bar md-selected-nav-item="$ctrl.selectedNav" ng-if="$ctrl.checkData">
            <md-nav-item name="buildmodule" md-nav-click="$ctrl.showTab('buildmodule')">
                Build release
            </md-nav-item>
            <md-nav-item name="moduledesc" md-nav-click="$ctrl.showTab('moduledesc')">
                App description
            </md-nav-item>
            <md-nav-item name="backendfiles" md-nav-click="$ctrl.showTab('backendfiles')">
                Backend files
            </md-nav-item>
            <md-nav-item name="frontendfiles" md-nav-click="$ctrl.showTab('frontendfiles')">
                Frontend files
            </md-nav-item>
            <md-nav-item name="scripts" md-nav-click="$ctrl.showTab('scripts')">
                Scripts
            </md-nav-item>
            <md-nav-item name="tests" md-nav-click="$ctrl.showTab('tests')">
                Tests
            </md-nav-item>
        </md-nav-bar>
    
        <!-- build tab -->
        <div layout-padding ng-show="$ctrl.selectedNav==='buildmodule'" ng-if="$ctrl.checkData">
            <config-section cl-title="Analysis errors" cl-icon="alert-circle-outline"></config-section>
            <config-list cl-items="$ctrl.checkData.backend.errors" cl-empty=""></config-list>
            <config-list cl-items="$ctrl.checkData.frontend.errors" cl-empty=""></config-list>
            <config-list cl-items="$ctrl.checkData.scripts.errors" cl-empty=""></config-list>
            <config-list cl-items="$ctrl.checkData.tests.errors" cl-empty=""></config-list>
            <config-list cl-items="$ctrl.checkData.breakingChanges.errors" cl-empty=""></config-list>
            <config-list
                ng-if="$ctrl.checkData.errorsCount===0"
                cl-items="[]" cl-empty="No error detected" cl-empty-icon="thumb-up"
            ></config-list>

            <config-section cl-title="Analysis warnings" cl-icon="alert-outline"></config-section>
            <config-list cl-items="$ctrl.checkData.backend.warnings" cl-empty=""></config-list>
            <config-list cl-items="$ctrl.checkData.frontend.warnings" cl-empty=""></config-list>
            <config-list cl-items="$ctrl.checkData.scripts.warnings" cl-empty=""></config-list>
            <config-list cl-items="$ctrl.checkData.tests.warnings" cl-empty=""></config-list>
            <config-list cl-items="$ctrl.checkData.breakingChanges.warnings" cl-empty=""></config-list>
            <config-list
                ng-if="$ctrl.checkData.warningsCount===0"
                cl-items="[]" cl-empty="No warning detected" cl-empty-icon="thumb-up"
            ></config-list>

            <config-section cl-title="Release information" cl-icon="information"></config-section>
            <config-comment cl-title="Changelog" cl-mode="markdown" cl-comment="$ctrl.checkData.changelog.changelog"></config-comment>
            <config-comment cl-title="Version" cl-comment="$ctrl.checkData.backend.metadata.version"></config-comment>

            <config-section cl-title="Build" cl-icon="cog"></config-section>
            <config-note
                ng-if="$ctrl.checkData.errorsCount > 0"
                cl-type="error" cl-note="Build disabled, please fix errors"
            ></config-note>
            <config-note
                ng-if="$ctrl.checkData.errorsCount === 0 && !$ctrl.checkData.versionOk"
                cl-type="error" cl-note="Build disabled, please update changelog version"
            ></config-note>
            <config-button
                cl-title="Build and download application package archive" cl-subtitle="Please make sure popups are not blocked by your browser"
                cl-btn-label="Build app" cl-btn-icon="download"
                cl-disabled="$ctrl.checkData.errorsCount>0 || !$ctrl.checkData.versionOk || $ctrl.loading"
                cl-click="$ctrl.buildApplication()"
            ></config-button>
        </div>
    
        <!-- module description -->
        <div layout-padding ng-show="$ctrl.selectedNav==='moduledesc'" ng-if="$ctrl.checkData">
            <config-button
                cl-title="Application icon" cl-btn-icon="{{ $ctrl.checkData.frontend.icon }}" cl-btn-style=""
            ></config-button>
            <config-comment
                cl-title="Application label" cl-subtitle="Displayed application name if you don't want default one (from python class name)"
                cl-comment="$ctrl.checkData.backend.metadata.label"
            ></config-comment>
            <config-comment
                cl-title="Author" cl-comment="$ctrl.checkData.backend.metadata.author"
            ></config-comment>
            <config-comment
                cl-title="Application category" cl-comment="$ctrl.checkData.backend.metadata.category"
            ></config-comment>
            <config-comment
                cl-title="Short description" cl-subtitle="Short description is displayed on application card (text only)"
                cl-comment="$ctrl.checkData.backend.metadata.description || 'No description'"
            ></config-comment>
            <config-comment
                cl-title="Long description" cl-subtitle="Long description is displayed on application installation dialogi (html supported)"
                cl-comment="$ctrl.checkData.backend.metadata.longdescription || 'No description'"
            ></config-comment>
            <!-- do not display price info until Cleep is ready to handle it... maybe one day
            <config-comment
                cl-title="Application price" cl-subtitle="If your application is free, set price to 0"
                cl-comment="$ctrl.checkData.backend.metadata.price"
            ></config-comment>
            -->
            <config-comment
                cl-title="Country" cl-subtitle="If your application is specific to a country, set ISO alpha2 country code to make your app only installble for users of this country"
                cl-comment="$ctrl.checkData.backend.metadata.country || 'No country code'"
            ></config-comment>
            <config-comment
                cl-title="Application website url" cl-subtitle="Used to specify an url to a product your app is linked to (a connected bulb of a specific brand for example)"
                cl-mode="html" cl-comment="$ctrl.checkData.backend.metadata.urls.site || 'No url'"
            ></config-comment>
            <config-comment
                cl-title="Application info url" cl-subtitle="Url to an info page about your app such as github project main page."
                cl-mode="html" cl-comment="$ctrl.checkData.backend.metadata.urls.info || 'no url'"
            ></config-comment>
            <config-comment
                cl-title="Application help url" cl-subtitle="Url to a page that describes how to use your app like a wiki page on your github repository."
                cl-mode="html" cl-comment="$ctrl.checkData.backend.metadata.urls.help || 'no url'"
            ></config-comment>
            <config-comment
                cl-title="Application bugs url" cl-subtitle="Url to the bugs report page of your app."
                cl-mode="html" cl-comment="$ctrl.checkData.backend.metadata.urls.bugs || 'no url'"
            ></config-comment>
            <config-chips
                cl-title="Application tags" cl-subtitle="Tags are used during application search"
                cl-readonly="true" cl-model="$ctrl.checkData.backend.metadata.tags"
            ></config-chips>
            <config-chips
                cl-title="Application dependencies" cl-subtitle="Dependencies are automatically installed with app"
                cl-readonly="true" cl-model="$ctrl.checkData.backend.metadata.deps"
            ></config-chips>
        </div>
    
        <!-- scripts -->
        <div layout-padding ng-show="$ctrl.selectedNav==='scripts'" ng-if="$ctrl.checkData">
            <config-list
                cl-items="$ctrl.checkData.scripts.files" cl-empty="Your app does not provide installation scripts"
            ></config-list>
        </div>
    
        <!-- backend files -->
        <div layout-padding ng-show="$ctrl.selectedNav==='backendfiles'" ng-if="$ctrl.checkData">
            <config-section cl-title="Application files" cl-icon="application-outline"></config-section>
            <config-list
                cl-items="$ctrl.checkData.backend.filesModule" cl-empty="Your app does not have application files?"
            ></config-list>

            <config-section cl-title="Other application files" cl-icon="application-cog-outline"></config-section>
            <config-list
                cl-items="$ctrl.checkData.backend.filesMisc" cl-empty="Your app does not provide other application files"
            ></config-list>

            <config-section cl-title="Application events" cl-icon="hand-wave-outline"></config-section>
            <config-list
                cl-items="$ctrl.checkData.backend.filesEvents" cl-empty="Your app does not provide custom events"
            ></config-list>

            <config-section cl-title="Application formatters" cl-icon="format-size"></config-section>
            <config-list
                cl-items="$ctrl.checkData.backend.filesFormatters" cl-empty="Your app does not provide specific formatters"
            ></config-list>

            <config-section cl-title="Application drivers" cl-icon="tools"></config-section>
            <config-list
                cl-items="$ctrl.checkData.backend.filesdrivers" cl-empty="Your app does not provide hardware drivers"
            ></config-list>
        </div>
    
        <!-- frontend files -->
        <div layout-padding ng-show="$ctrl.selectedNav==='frontendfiles'" ng-if="$ctrl.checkData">
            <config-list
                cl-items="$ctrl.checkData.frontend.filesItems" cl-empty="Your app does not provide frontend file. No ui will be available."
            ></config-list>
        </div>

        <!-- tests -->
        <div layout-padding ng-show="$ctrl.selectedNav==='tests'" ng-if="$ctrl.checkData">
            <config-list
                cl-items="$ctrl.checkData.tests.filesItems" cl-empty="Your app does not provide tests files. Build will fail"
            ></config-list>
        </div>

    </div>

</div>

